.block {
  display: inline-block;
  border-radius: 8px;
  padding: 10px;
  font-size: 13px;
  box-shadow: 2px 2px 5px #000;
  cursor: grab;
  width: fit-content;
  max-width: none;
  white-space: nowrap;
  overflow: visible;
  position: absolute;
}

.block-title {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 6px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-bottom: 4px;
  border-bottom: 1px dashed #444;
}