.composable-container-block {
  border: 2px dashed #7c4dff;
  background-color: rgba(40, 30, 60, 0.2);
  color: #e0ccff;
  position: absolute;
}

.composable-container-header {
  border-bottom: 1px solid #7c4dff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  z-index: 2;
}

.composable-container-body {
  position: absolute;
  overflow: visible;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}