.group-block {
  border: 2px dashed #4caf50;
  background-color: rgba(60, 80, 60, 0.2);
  color: #9efc9e;
  position: absolute;
}

.group-header {
  border-bottom: 1px solid #4caf50;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  z-index: 2;
}

.group-body {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
  z-index: 2;
}