.opaque-function-block {
  border: 2px solid #c272ff;
  background-color: #2a1f3d;
  color: #e7d0ff;
}

.opaque-function-header {
  background-color: #35174a;
  border-bottom: 1px solid #aa44ff;
  padding: 6px 10px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
  position: relative;
}

.opaque-function-body {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
}